<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd ">
    <!--========================================静态资源==============================================-->
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/images/**" location="/images/"></mvc:resources><!--访问images.xxx的时候从/images/路径下面获得数据-->
    <mvc:resources mapping="/style/**" location="/styles/"></mvc:resources>
    <!--========================================拦截器mvc:interceptors============================================-->
    <!--多个拦截  顺序执行-->
    <mvc:interceptors>
        <!---用户授权权限拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.hh.interceptor.SysPermissionInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--组件扫描-->
    <context:component-scan base-package="com.hh"></context:component-scan>
    <!--注解驱动-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven><!--对应下面的转化器-->
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/pages/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--============================================转换器====================================================== -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!-- 转换器 -->
        <property name="converters">
            <set>
                <bean class="com.hh.controller.converter.CustomDateConverter"/>
            </set>
        </property>
    </bean>
    <!-- ========================================文件上传======================================================== -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为5MB -->
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>
</beans>