<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ItemsMapper">
   <select id="getItemsById" parameterType="java.util.Map" resultType="com.hh.entity.Items">
        SELECT  * from items WHERE  id=#{id}
    </select>

    <select id="findtemsList"  resultType="com.hh.entity.Items">
        SELECT  * from items
    </select>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hh.entity.Items" >
        update items t
        set t.name = #{name,jdbcType=VARCHAR},
        t.price = #{price,jdbcType=REAL},
        t.pic = #{pic,jdbcType=VARCHAR},
        t.createtime = #{createtime,jdbcType=TIMESTAMP},
        t.detail = #{detail,jdbcType=LONGVARCHAR}
        where t.id = #{id,jdbcType=INTEGER}
    </update>
</mapper>